<h1>New Task</h1>

<%= form_for :task, url: tasks_path do |f| %>
  <% if @task.errors.any? %>	
  <div id="errorExplanation">
   <h2> You forgot to add a task </h2>
  <% end %> 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to 'Back', tasks_path %>
